.About-Image {
    background-image: url('https://images.pexels.com/photos/422220/pexels-photo-422220.jpeg?auto=compress&cs=tinysrgb&w=600');  
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 150px;
    padding-bottom: 180px;
    margin-bottom: 100px; 
    width: 100%;
    min-height: 900px;
  }
  
 .section-paragraph{
    text-align: justify;
}

.More_About{
  margin-top: 100px;
  background-color: aqua;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.More_About_Img{
  border-radius: 10px; 
}
.section-paragraph-2{
  text-align: justify;
  padding-right: 20px;
}
.section-paragraph_h6{
  color: yellow;
}
.Abut_us{
  color: rgb(50, 18, 78);
}